@media (max-width:1201px) {
  .headerCenter {
    width: 100%;
  }

  .inManuName {
    width: 90%;
  }
}

@media (max-width:1025px) {
  .headerCenter {
    display: flex;
    justify-content: space-around;
  }

  .navigation {
    width: 45%;
  }

  .toolBar {
    display: none;
  }

  .searchBlock {
    width: 250px;
  }

  .inManuName {
    width: 100%;
    justify-content: center;
  }

  .infoBlock {
    width: 25%;
  }

  .clothes {
    width: 25%;
  }

  .shoes {
    width: 25%;
  }

  .accessories {
    width: 25%;
  }

  .advertis {
    display: none;
  }
}

@media (max-width:769px) {
 

  .logo {
    width: 30%;
  }

  .navigation {
    display: none;
  }

  .search {
    display: none;
  }

  .burgerMenu {
    width: 80px;
    height: 100px;
    display: flex;
  }

  .burgerList {
    display: block;
  }

}

@media (max-width:481px) {
  .logo {
    width: 40%;
  }
  
  .burgerList {
    display: block;
  }

}
